server:
  port: 8080

spring:
  application:
    name: GATEWAY

  cloud:
    gateway:
      routes:
        - id: apnakam
          uri: lb://APNAKAM
          predicates:
            - Path=/credential/**,/api/v1/addresses/** , /Worker/**

        - id: filemanager
          uri: lb://FILEMANAGER
          predicates:
            - Path=/files/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
    register-with-eureka: true
    fetch-registry: true
